<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCLTdVMwajO4zJRpNTE43NLlI8LZSsN0fM</string>
	<key>GCM_SENDER_ID</key>
	<string>441016300837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kno.ga1nsadvirs</string>
	<key>PROJECT_ID</key>
	<string>app215-4d210</string>
	<key>STORAGE_BUCKET</key>
	<string>app215-4d210.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:441016300837:ios:45d4eea8622e59c65796cc</string>
</dict>
</plist>